-i https://pypi.python.org/simple/
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
dropbox==8.9.0
idna==2.10
importlib-metadata==4.4.0 ; python_version < '3.8'
python-dotenv==0.7.1
requests==2.25.1
six==1.16.0
slack-log-utils==0.1.5
typing-extensions==3.10.0.0 ; python_version < '3.8'
urllib3==1.26.5
zipp==3.4.1
